config SHIELD_CROSSES_DONGLE
	def_bool $(shields_list_contains,crosses_dongle)

config SHIELD_CROSSES_LEFT
  def_bool $(shields_list_contains,crosses_left)

config SHIELD_CROSSES_RIGHT
  def_bool $(shields_list_contains,crosses_right)
config SHIELD_CROSSES_PEDALS
  def_bool $(shields_list_contains,crosses_pedals)
